.intro {
  width: 100%;
  height: auto;
}

.intro__title {
  max-width: 830px;
  height: auto;
  color: #ffffff;
  font-family: "Inter", sans-serif;
  font-size: 54px;
  line-height: 1.07;
}

.intro__blockquote {
  margin: 0;
}

.intro__quote {
  max-width: 738px;
  height: auto;
  color: #ffffff;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  line-height: 1.42;
  opacity: 0.8;
}

.intro__author {
  max-width: 732px;
  height: auto;
  color: #ffffff;
  opacity: 0.8;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.42;
  text-align: end;
}

.intro__author cite {
  font-style: normal;
}

.intro__paragraph {
  max-width: 722px;
  height: auto;
  color: #ffffff;
  opacity: 0.8;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.63;
}

@media screen and (max-width: 1024px) {
  .intro {
    padding-left: 24px;
    padding-right: 24px;
    box-sizing: border-box;
  }
}

@media screen and (max-width: 544px) {
  .intro__title {
    font-size: 32px;
    padding-left: 16px;
    padding-right: 16px;
  }

  .intro__blockquote {
    font-size: 24px;
    padding-left: 16px;
    padding-right: 16px;
  }

  .intro__paragraph {
    font-size: 16px;
    padding-left: 16px;
    padding-right: 16px;
  }
}
