.place {
  max-width: 984px;
  margin: 80px auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto 460px auto;
}

.place__title {
  color: white;
  width: 460px;
  height: auto;
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.05;
  grid-column: 1;
  grid-row: 1;
}

.place__image {
  width: 460px;
  height: 460px;
  box-shadow: 10px 10px 25px 0px #00000080;
  grid-column: 1;
  grid-row: 2;
}

.place__image:hover {
  background: #00000080;
  opacity: 50%;
}

.place__city-artist {
  height: 67px;
  grid-column: 2;
  grid-row: 1 / 2;
  align-self: center;
  margin-left: 40px;
}

.place__artist {
  color: #ffffff;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  opacity: 0.4;
  font-size: 12px;
  line-height: 1;
  letter-spacing: 12%;
  text-transform: uppercase;
}

.place__artist-name {
  color: #ffffff;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  opacity: 0.8;
  font-size: 18px;
  line-height: 1.2;
}

.place__text {
  grid-column: 2;
  grid-row: 2 / 4;
  margin-left: 40px;
}

.place__paragraph {
  color: #ffffff;
  opacity: 0.8;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.63;
}

.place__button {
  color: #ffffff;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  line-height: 1;
  margin-top: 48px;
  display: inline-block;
  justify-self: start;
  align-self: flex-start;
  height: auto;
  text-align: center;
  text-decoration: none;
  padding: 13px 20px 13px 20px;
  background: linear-gradient(90deg, #0278fe 0%, #003a7b 99.98%);
  box-shadow: 5px 5px 10px 0px #00000040;
  border: none;
  grid-column: 1;
  grid-row: 3 / 4;
}

.place__button:hover {
  background: linear-gradient(
    90deg,
    rgba(2, 120, 254, 0.25) 0%,
    rgba(0, 58, 123, 0.25) 99.98%
  );
}

@media screen and (max-width: 1024px) {
  .place {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto 340px auto;
    margin-left: 24px;
    margin-right: 24px;
  }

  .place__title {
    width: 340px;
    height: 92px;
    font-size: 42px;
    grid-column: 1;
    grid-row: 1 / 2;
  }

  .place__image {
    width: 340px;
    height: 340px;
    grid-column: 1;
    grid-row: 2 / 3;
  }

  .place__city-artist {
    grid-column: 2;
    grid-row: 1 / 2;
  }

  .place__text {
    grid-column: 2;
    grid-row: 2 / 4;
  }

  .place__paragraph {
    font-size: 16px;
  }

  .place__button {
    grid-column: 1;
    grid-row: 3 / 4;
  }
}

@media screen and (max-width: 544px) {
  .place {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto auto;
    margin: 80px auto;
  }

  .place__title {
    width: 288px;
    height: auto;
    font-size: 32px;
    grid-column: 1;
    grid-row: 1 / 2;
    padding-left: 16px;
    padding-right: 16px;
  }

  .place__city-artist {
    max-width: 288px;
    height: auto;
    grid-column: 1;
    grid-row: 2 / 3;
    padding-left: 16px;
    padding-right: 16px;
  }

  .place__image {
    width: 100%;
    grid-column: 1;
    grid-row: 3 / 4;
  }

  .place__text {
    grid-column: 1;
    grid-row: 4 / 5;
    margin: 30px 16px;
  }

  .place__paragraph {
    font-size: 16px;
  }

  .place__button {
    width: 288px;
    font-size: 14px;
    box-sizing: border-box;
    justify-self: center;
    grid-column: 1;
    grid-row: 5 / 6;
  }
}
